body {
    background-color: white;
}

h1{
    color: black;
    text-align: center;
    font-size: 25px;
    font-family: verdana; 
}

h2{
    color: blue;
    text-align: left;
    font-size: 18px;
    font-family: verdana; 
}

p{
    color: black;
    text-align: left;
    font-size: 12px;
    font-family: verdana;
}

#ejemplo{
    color: black;
    text-align: left;
    font-size: 10px;
    font-family: verdana;
}

.miEstilo{
    color: black;
    text-align: center;
    font-size: 10px;
    font-family: verdana;
}




