body {
    background-color: white;
}

h1{
    color: black;
    text-align: left;
    font-size: 15px;
    font-family: verdana; 
}

p{
    color: black;
    text-align: center;
    font-size: 8px;
    font-family: verdana;
}